<!DOCTYPE html>
<html lang="en">
  

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Accounts View</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container" >
                    <div class="col-md-6 col-md-offset-3">     
                    <div class="row">
                   
                    <form role="form" id="form-buscar">
                    <div class="form-group">
                    <div class="input-group" >
                    <input id="1" class="form-control" type="text" name="search" placeholder="Search for Accounts" required/>
                    
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit" class="btn btn-link text-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                    
                  
                    </span>
                    </div>
                    </div>
                    </form>
                    </div>            
                    </div>
                    
                    

          
                  <div class="container h-100"> 
                      <div class="position-relative h-100"> 
                          <div class="position-absolute top-right1"> 
                              <button type="button" class="btn btn-primary">Ad-Hoc connection</button> 
                              &nbsp;<i class="fa fa-refresh" aria-hidden="true"></i></div> 
                         
                          <div class="position-absolute top-right2"> 
                              <button type="button" class="btn btn-primary">Add Account</button> 
                          </div> 

                        
                      </div> 
                  </div> 
                
               </div>
              
            
            </div>
            
          </nav>
          <div class="container-fluid">
                <div class="row">
                     
                      <div class="col-md-6 text-right">
                          <button type="button" class="btn btn-danger ">Views
                             <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btn btn-danger ">Recent</button>
                          <button type="button" class="btn btn-danger ">Saved</button>
                      </div>
                </div>
              </div>
          

   
      <br>
      <br>

      <div class="container">    
  <table class="table">
    <thead>
      <tr class="active">
        <th> <i class="fa fa-star-o" aria-hidden="true"></i></th>
        <th>Status</th>
        <th>Username</th>
        <th>Address</th>
        <th>Platform ID</th>
        <th>Safe<i class="fa fa-arrow-up" aria-hidden="true"></i></th>
        <th>Access Request</th>
        <th></th>
        <th></th>
            </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
        <td> - </td>
        <td> abc </td>
        <td>abc.com</td>
        <td>windomain</td>
        <td>Domain Service Accounts</td>
        <td></td>
        <div class="container">
            <div type="text"  data-toggle="modal" data-target="#myModal">
                    <td>Connect<i class="fa fa-chevron-down" aria-hidden="true"></i></td>
              </div>
   

   
                    
                    <!-- Button to Open the Modal -->
                
                  
                    <!-- The Modal -->
                    <div class="modal" id="myModal">
                      <div class="modal-dialog">
                        <div class="modal-content">
                        
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h3 class="modal-title">Connect</h3>
                            <button type="button" class="close" data-dismiss="modal">×</button>
                          </div>
                          
                          <!-- Modal body -->
                          <div class="modal-body">
                            <h4>Reason(Optional)</h4>
                            <select id="help-select-1" class="help-select step1"><option selected="" value="0">Need to patch server</option><option>abc</option><option>cdf</option><option>def</option></select>
                            
                            <h4>Remote Connection Details</h4>
                            <select id="help-select-1" class="help-select step1"><option selected="" value="0">Enter or select a remote machine</option><option>abc</option><option>cdf</option><option>def</option></select>
                            
                            
                            
                          </div>
                        
                        </div>
                      </div>
                    </div>
                    
                  </div>
        
        <td>...</td>
      </tr>
      <tr>
          <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
          <td> - </td>
          <td> abc </td>
          <td>abc.com</td>
          <td>windomain</td>
          <td>Domain Service Accounts</td>
          <td></td>
          <div class="container">
              <div type="text"  data-toggle="modal" data-target="#myModal">
                      <td>Connect<i class="fa fa-chevron-down" aria-hidden="true"></i></td>
                </div>
     
  
     
                      
                      <!-- Button to Open the Modal -->
                  
                    
                      <!-- The Modal -->
                      <div class="modal" id="myModal">
                        <div class="modal-dialog">
                          <div class="modal-content">
                          
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h3 class="modal-title">Connect</h3>
                              <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>
                            
                            <!-- Modal body -->
                            <div class="modal-body">
                              <h4>Reason(Optional)</h4>
                              <select id="help-select-1" class="help-select step1"><option selected="" value="0">Need to patch server</option><option>abc</option><option>cdf</option><option>def</option></select>
                              
                              <h4>Remote Connection Details</h4>
                              <select id="help-select-1" class="help-select step1"><option selected="" value="0">Enter or select a remote machine</option><option>abc</option><option>cdf</option><option>def</option></select>
                              
                              
                              
                            </div>
                          
                          </div>
                        </div>
                      </div>
                      
                    </div>
          
          <td>...</td>
        </tr>
        <tr>
            <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
            <td> - </td>
            <td> abc </td>
            <td>abc.com</td>
            <td>windomain</td>
            <td>Domain Service Accounts</td>
            <td></td>
            <div class="container">
                <div type="text"  data-toggle="modal" data-target="#myModal">
                        <td>Connect<i class="fa fa-chevron-down" aria-hidden="true"></i></td>
                  </div>
       
    
       
                        
                        <!-- Button to Open the Modal -->
                    
                      
                        <!-- The Modal -->
                        <div class="modal" id="myModal">
                          <div class="modal-dialog">
                            <div class="modal-content">
                            
                              <!-- Modal Header -->
                              <div class="modal-header">
                                <h3 class="modal-title">Connect</h3>
                                <button type="button" class="close" data-dismiss="modal">×</button>
                              </div>
                              
                              <!-- Modal body -->
                              <div class="modal-body">
                                <h4>Reason(Optional)</h4>
                                <select id="help-select-1" class="help-select step1"><option selected="" value="0">Need to patch server</option><option>abc</option><option>cdf</option><option>def</option></select>
                                
                                <h4>Remote Connection Details</h4>
                                <select id="help-select-1" class="help-select step1"><option selected="" value="0">Enter or select a remote machine</option><option>abc</option><option>cdf</option><option>def</option></select>
                                
                                
                                
                              </div>
                            
                            </div>
                          </div>
                        </div>
                        
                      </div>
            
            <td>...</td>
          </tr>
          <tr>
              <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
              <td> - </td>
              <td> abc </td>
              <td>abc.com</td>
              <td>windomain</td>
              <td>Domain Service Accounts</td>
              <td></td>
              <div class="container">
                  <div type="text"  data-toggle="modal" data-target="#myModal">
                          <td>Connect<i class="fa fa-chevron-down" aria-hidden="true"></i></td>
                    </div>
         
      
         
                          
                          <!-- Button to Open the Modal -->
                      
                        
                          <!-- The Modal -->
                          <div class="modal" id="myModal">
                            <div class="modal-dialog">
                              <div class="modal-content">
                              
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h3 class="modal-title">Connect</h3>
                                  <button type="button" class="close" data-dismiss="modal">×</button>
                                </div>
                                
                                <!-- Modal body -->
                                <div class="modal-body">
                                  <h4>Reason(Optional)</h4>
                                  <select id="help-select-1" class="help-select step1"><option selected="" value="0">Need to patch server</option><option>abc</option><option>cdf</option><option>def</option></select>
                                  
                                  <h4>Remote Connection Details</h4>
                                  <select id="help-select-1" class="help-select step1"><option selected="" value="0">Enter or select a remote machine</option><option>abc</option><option>cdf</option><option>def</option></select>
                                  
                                  
                                  
                                </div>
                              
                              </div>
                            </div>
                          </div>
                          
                        </div>
              
              <td>...</td>
            </tr>
            <tr>
                <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
                <td> - </td>
                <td> abc </td>
                <td>abc.com</td>
                <td>windomain</td>
                <td>Domain Service Accounts</td>
                <td></td>
                <div class="container">
                    <div type="text"  data-toggle="modal" data-target="#myModal">
                            <td>Connect<i class="fa fa-chevron-down" aria-hidden="true"></i></td>
                      </div>
           
        
           
                            
                            <!-- Button to Open the Modal -->
                        
                          
                            <!-- The Modal -->
                            <div class="modal" id="myModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                
                                  <!-- Modal Header -->
                                  <div class="modal-header">
                                    <h3 class="modal-title">Connect</h3>
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                  </div>
                                  
                                  <!-- Modal body -->
                                  <div class="modal-body">
                                    <h4>Reason(Optional)</h4>
                                    <select id="help-select-1" class="help-select step1"><option selected="" value="0">Need to patch server</option><option>abc</option><option>cdf</option><option>def</option></select>
                                    
                                    <h4>Remote Connection Details</h4>
                                    <select id="help-select-1" class="help-select step1"><option selected="" value="0">Enter or select a remote machine</option><option>abc</option><option>cdf</option><option>def</option></select>
                                    
                                    
                                    
                                  </div>
                                
                                </div>
                              </div>
                            </div>
                            
                          </div>
                
                <td>...</td>
              </tr>
              <tr>
                  <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
                  <td> - </td>
                  <td> abc </td>
                  <td>abc.com</td>
                  <td>windomain</td>
                  <td>Domain Service Accounts</td>
                  <td></td>
                  <div class="container">
                      <div type="text"  data-toggle="modal" data-target="#myModal">
                              <td>Connect<i class="fa fa-chevron-down" aria-hidden="true"></i></td>
                        </div>
             
          
             
                              
                              <!-- Button to Open the Modal -->
                          
                            
                              <!-- The Modal -->
                              <div class="modal" id="myModal">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                  
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                      <h3 class="modal-title">Connect</h3>
                                      <button type="button" class="close" data-dismiss="modal">×</button>
                                    </div>
                                    
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                      <h4>Reason(Optional)</h4>
                                      <select id="help-select-1" class="help-select step1"><option selected="" value="0">Need to patch server</option><option>abc</option><option>cdf</option><option>def</option></select>
                                      
                                      <h4>Remote Connection Details</h4>
                                      <select id="help-select-1" class="help-select step1"><option selected="" value="0">Enter or select a remote machine</option><option>abc</option><option>cdf</option><option>def</option></select>
                                      
                                      
                                      
                                    </div>
                                  
                                  </div>
                                </div>
                              </div>
                              
                            </div>
                  
                  <td>...</td>
                </tr>
                <tr>
                    <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
                    <td> - </td>
                    <td> abc </td>
                    <td>abc.com</td>
                    <td>windomain</td>
                    <td>Domain Service Accounts</td>
                    <td></td>
                    <div class="container">
                        <div type="text"  data-toggle="modal" data-target="#myModal">
                                <td>Connect<i class="fa fa-chevron-down" aria-hidden="true"></i></td>
                          </div>
               
            
               
                                
                                <!-- Button to Open the Modal -->
                            
                              
                                <!-- The Modal -->
                                <div class="modal" id="myModal">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                    
                                      <!-- Modal Header -->
                                      <div class="modal-header">
                                        <h3 class="modal-title">Connect</h3>
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                      </div>
                                      
                                      <!-- Modal body -->
                                      <div class="modal-body">
                                        <h4>Reason(Optional)</h4>
                                        <select id="help-select-1" class="help-select step1"><option selected="" value="0">Need to patch server</option><option>abc</option><option>cdf</option><option>def</option></select>
                                        
                                        <h4>Remote Connection Details</h4>
                                        <select id="help-select-1" class="help-select step1"><option selected="" value="0">Enter or select a remote machine</option><option>abc</option><option>cdf</option><option>def</option></select>
                                        
                                        
                                        
                                      </div>
                                    
                                    </div>
                                  </div>
                                </div>
                                
                              </div>
                    
                    <td>...</td>
                  </tr>
                  <tr>
                      <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
                      <td> - </td>
                      <td> abc </td>
                      <td>abc.com</td>
                      <td>windomain</td>
                      <td>Domain Service Accounts</td>
                      <td></td>
                      <div class="container">
                          <div type="text"  data-toggle="modal" data-target="#myModal">
                                  <td>Connect<i class="fa fa-chevron-down" aria-hidden="true"></i></td>
                            </div>
                 
              
                 
                                  
                                  <!-- Button to Open the Modal -->
                              
                                
                                  <!-- The Modal -->
                                  <div class="modal" id="myModal">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                      
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                          <h3 class="modal-title">Connect</h3>
                                          <button type="button" class="close" data-dismiss="modal">×</button>
                                        </div>
                                        
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                          <h4>Reason(Optional)</h4>
                                          <select id="help-select-1" class="help-select step1"><option selected="" value="0">Need to patch server</option><option>abc</option><option>cdf</option><option>def</option></select>
                                          
                                          <h4>Remote Connection Details</h4>
                                          <select id="help-select-1" class="help-select step1"><option selected="" value="0">Enter or select a remote machine</option><option>abc</option><option>cdf</option><option>def</option></select>
                                          
                                          
                                          
                                        </div>
                                      
                                      </div>
                                    </div>
                                  </div>
                                  
                                </div>
                      
                      <td>...</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
                        <td> - </td>
                        <td> abc </td>
                        <td>abc.com</td>
                        <td>windomain</td>
                        <td>Domain Service Accounts</td>
                        <td></td>
                        <div class="container">
                            <div type="text"  data-toggle="modal" data-target="#myModal">
                                    <td>Connect<i class="fa fa-chevron-down" aria-hidden="true"></i></td>
                              </div>
                   
                
                   
                                    
                                    <!-- Button to Open the Modal -->
                                
                                  
                                    <!-- The Modal -->
                                    <div class="modal" id="myModal">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                        
                                          <!-- Modal Header -->
                                          <div class="modal-header">
                                            <h3 class="modal-title">Connect</h3>
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                          </div>
                                          
                                          <!-- Modal body -->
                                          <div class="modal-body">
                                            <h4>Reason(Optional)</h4>
                                            <select id="help-select-1" class="help-select step1"><option selected="" value="0">Need to patch server</option><option>abc</option><option>cdf</option><option>def</option></select>
                                            
                                            <h4>Remote Connection Details</h4>
                                            <select id="help-select-1" class="help-select step1"><option selected="" value="0">Enter or select a remote machine</option><option>abc</option><option>cdf</option><option>def</option></select>
                                            
                                            
                                            
                                          </div>
                                        
                                        </div>
                                      </div>
                                    </div>
                                    
                                  </div>
                        
                        <td>...</td>
                      </tr>
                      <tr>
                          <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
                          <td> - </td>
                          <td> abc </td>
                          <td>abc.com</td>
                          <td>windomain</td>
                          <td>Domain Service Accounts</td>
                          <td></td>
                          <div class="container">
                              <div type="text"  data-toggle="modal" data-target="#myModal">
                                      <td>Connect<i class="fa fa-chevron-down" aria-hidden="true"></i></td>
                                </div>
                     
                  
                     
                                      
                                      <!-- Button to Open the Modal -->
                                  
                                    
                                      <!-- The Modal -->
                                      <div class="modal" id="myModal">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                          
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                              <h3 class="modal-title">Connect</h3>
                                              <button type="button" class="close" data-dismiss="modal">×</button>
                                            </div>
                                            
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                              <h4>Reason(Optional)</h4>
                                              <select id="help-select-1" class="help-select step1"><option selected="" value="0">Need to patch server</option><option>abc</option><option>cdf</option><option>def</option></select>
                                              
                                              <h4>Remote Connection Details</h4>
                                              <select id="help-select-1" class="help-select step1"><option selected="" value="0">Enter or select a remote machine</option><option>abc</option><option>cdf</option><option>def</option></select>
                                              
                                              
                                              
                                            </div>
                                          
                                          </div>
                                        </div>
                                      </div>
                                      
                                    </div>
                          
                          <td>...</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
                            <td> - </td>
                            <td> abc </td>
                            <td>abc.com</td>
                            <td>windomain</td>
                            <td>Domain Service Accounts</td>
                            <td></td>
                            <div class="container">
                                <div type="text"  data-toggle="modal" data-target="#myModal">
                                        <td>Connect<i class="fa fa-chevron-down" aria-hidden="true"></i></td>
                                  </div>
                       
                    
                       
                                        
                                        <!-- Button to Open the Modal -->
                                    
                                      
                                        <!-- The Modal -->
                                        <div class="modal" id="myModal">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                            
                                              <!-- Modal Header -->
                                              <div class="modal-header">
                                                <h3 class="modal-title">Connect</h3>
                                                <button type="button" class="close" data-dismiss="modal">×</button>
                                              </div>
                                              
                                              <!-- Modal body -->
                                              <div class="modal-body">
                                                <h4>Reason(Optional)</h4>
                                                <select id="help-select-1" class="help-select step1"><option selected="" value="0">Need to patch server</option><option>abc</option><option>cdf</option><option>def</option></select>
                                                
                                                <h4>Remote Connection Details</h4>
                                                <select id="help-select-1" class="help-select step1"><option selected="" value="0">Enter or select a remote machine</option><option>abc</option><option>cdf</option><option>def</option></select>
                                                
                                                
                                                
                                              </div>
                                            
                                            </div>
                                          </div>
                                        </div>
                                        
                                      </div>
                            
                            <td>...</td>
                          </tr>
                          <tr>
                              <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
                              <td> - </td>
                              <td> abc </td>
                              <td>abc.com</td>
                              <td>windomain</td>
                              <td>Domain Service Accounts</td>
                              <td></td>
                              <div class="container">
                                  <div type="text"  data-toggle="modal" data-target="#myModal">
                                          <td>Connect<i class="fa fa-chevron-down" aria-hidden="true"></i></td>
                                    </div>
                         
                      
                         
                                          
                                          <!-- Button to Open the Modal -->
                                      
                                        
                                          <!-- The Modal -->
                                          <div class="modal" id="myModal">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                              
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                  <h3 class="modal-title">Connect</h3>
                                                  <button type="button" class="close" data-dismiss="modal">×</button>
                                                </div>
                                                
                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                  <h4>Reason(Optional)</h4>
                                                  <select id="help-select-1" class="help-select step1"><option selected="" value="0">Need to patch server</option><option>abc</option><option>cdf</option><option>def</option></select>
                                                  
                                                  <h4>Remote Connection Details</h4>
                                                  <select id="help-select-1" class="help-select step1"><option selected="" value="0">Enter or select a remote machine</option><option>abc</option><option>cdf</option><option>def</option></select>
                                                  
                                                  
                                                  
                                                </div>
                                              
                                              </div>
                                            </div>
                                          </div>
                                          
                                        </div>
                              
                              <td>...</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
                                <td> - </td>
                                <td> abc </td>
                                <td>abc.com</td>
                                <td>windomain</td>
                                <td>Domain Service Accounts</td>
                                <td></td>
                                <div class="container">
                                    <div type="text"  data-toggle="modal" data-target="#myModal">
                                            <td>Connect<i class="fa fa-chevron-down" aria-hidden="true"></i></td>
                                      </div>
                           
                        
                           
                                            
                                            <!-- Button to Open the Modal -->
                                        
                                          
                                            <!-- The Modal -->
                                            <div class="modal" id="myModal">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                
                                                  <!-- Modal Header -->
                                                  <div class="modal-header">
                                                    <h3 class="modal-title">Connect</h3>
                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                  </div>
                                                  
                                                  <!-- Modal body -->
                                                  <div class="modal-body">
                                                    <h4>Reason(Optional)</h4>
                                                    <select id="help-select-1" class="help-select step1"><option selected="" value="0">Need to patch server</option><option>abc</option><option>cdf</option><option>def</option></select>
                                                    
                                                    <h4>Remote Connection Details</h4>
                                                    <select id="help-select-1" class="help-select step1"><option selected="" value="0">Enter or select a remote machine</option><option>abc</option><option>cdf</option><option>def</option></select>
                                                    
                                                    
                                                    
                                                  </div>
                                                
                                                </div>
                                              </div>
                                            </div>
                                            
                                          </div>
                                
                                <td>...</td>
                              </tr>
                              <tr>
                                  <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
                                  <td> - </td>
                                  <td> abc </td>
                                  <td>abc.com</td>
                                  <td>windomain</td>
                                  <td>Domain Service Accounts</td>
                                  <td></td>
                                  <div class="container">
                                      <div type="text"  data-toggle="modal" data-target="#myModal">
                                              <td>Connect<i class="fa fa-chevron-down" aria-hidden="true"></i></td>
                                        </div>
                             
                          
                             
                                              
                                              <!-- Button to Open the Modal -->
                                          
                                            
                                              <!-- The Modal -->
                                              <div class="modal" id="myModal">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">
                                                  
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                      <h3 class="modal-title">Connect</h3>
                                                      <button type="button" class="close" data-dismiss="modal">×</button>
                                                    </div>
                                                    
                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                      <h4>Reason(Optional)</h4>
                                                      <select id="help-select-1" class="help-select step1"><option selected="" value="0">Need to patch server</option><option>abc</option><option>cdf</option><option>def</option></select>
                                                      
                                                      <h4>Remote Connection Details</h4>
                                                      <select id="help-select-1" class="help-select step1"><option selected="" value="0">Enter or select a remote machine</option><option>abc</option><option>cdf</option><option>def</option></select>
                                                      
                                                      
                                                      
                                                    </div>
                                                  
                                                  </div>
                                                </div>
                                              </div>
                                              
                                            </div>
                                  
                                  <td>...</td>
                                </tr>
      
    </tbody>
  </table>
</div>


    </body>
    </html>